.home-header{
width: 90%;
/* background-color: blue; */
height: 100px;
}

.home-content{
width: 90%;
background-color: #fff;
height: 500px;
}

@media screen and (max-width: 426px) {
    .home-header{
        width: 100%;
    }
    .home-content{
        width: 100%;
    }
    
}